{% extends "base.html" %}

{% block title %} Battle News Page {% endblock %}

{% block content %}

    <div class="card">
        <h5 class="card-header">{{ battle.title }}</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
                {% for battle_group in battle_groups %}
                <span class="h4"> {{ battle_group.group_id.name }} </span> 
                {% endfor %}
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{% url 'battles-page' %}" class="btn btn-primary">Back Battles list</a>
        </div>
    </div>

{% endblock %}