{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock title %}

{% block content %}

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

    <!--Page Title-->
    <section class="page-banner" style="background-image:url({% static '/images/background/title-bg.jpg' %});">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog</li>
                </ul>
                <h1>Blog</h1>
            </div>
        </div>
    </section>
    <!--End Page Title-->

        <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side / Blog Detail-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-detail">
                		<div class="image-box">
                			<figure class="image"><img src="{{ update.updates_news_image.url }}" alt=""></figure>
                		</div>
                		<div class="lower-content">
                			<div class="post-date">{{update.created_at}}</div>
							<h3>{{update.title}}</h3>

							<p>{{update.description}}</p>
                		</div>
                    </div>

                    <!-- Other Options -->
                    <div class="post-share-options clearfix">
                        <div class="pull-left">
                            <ul class="tags">
                                <li><a href="#">Gaming</a></li>
                                <li><a href="matches.html">Matches</a></li>
                                <li><a href="#">Players</a></li>
                            </ul>
                        </div>

                        <div class="social-links pull-right">
                            <ul class="social-links">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Author Box -->
                    <div class="author-box">
                        <div class="inner-box">
                            <figure class="thumb"><img src="{% static 'images/resource/author-thumb.jpg' %}" alt=""></figure>
                            <h3 class="name">Kadirov Umarhoja</h3>
                            <div class="text">Чтото потом напишу</div>
                        </div>
                    </div>

                    <!-- Comments Area -->
                    <div class="comments-area">
                        <div class="group-title"><h3>2 Comments</h3></div>
                        <div class="comment-box">
                            <div class="comment">
                                <div class="author-thumb">
                                    <figure class="thumb"><img src="{% static 'images/resource/thumb-1.jpg' %}" alt=""></figure>
                                </div> 
                                <h4 class="name">Kevin Martin</h4>
                                <div class="text">Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo var sed efficitur turpis gilla sed sit amet finibus eros.</div>
                                <a href="#" class="reply-btn">Reply</a>
                            </div>
                        </div>

                        <div class="comment-box reply-comment">
                            <div class="comment">
                                <div class="author-thumb">
                                    <figure class="thumb"><img src="{% static 'images/resource/thumb-2.jpg' %}" alt=""></figure>
                                </div> 
                                <h4 class="name">Sarah Albert</h4>
                                <div class="text">Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo var sed efficitur turpis gilla sed sit amet finibus eros.</div>
                                <a href="#" class="reply-btn">Reply</a>
                            </div>
                        </div>
                    </div>

                    <!--Comment Form-->
                    <div class="comment-form">
                        <div class="group-title"><h3>Leave a comment</h3></div>

                        <form method="post" action="blog.html">
                            <div class="row clearfix">                                    
                                <div class="col-md-6 col-sm-12 form-group">
                                    <input type="text" name="username" placeholder="Full name" required="">
                                </div>
                                
                                <div class="col-md-6 col-sm-12 form-group">
                                    <input type="email" name="email" placeholder="Email address" required="">
                                </div>

                                <div class="col-md-12 col-sm-12 form-group">
                                    <textarea name="message" placeholder="Write a comment"></textarea>
                                </div>

                                <div class="col-md-12 col-sm-12 form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Post Comment</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
                    	<!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Post Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="widget-content">
                                <h4 class="sidebar-title">Recent Posts</h4>
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                        <div class="post-info">16 May 2019</div>
                                        <div class="text"><a href="blog-single.html">Lion king vs wolf smart upcoming matches</a></div>
                                    </div>

                                </article>
                                
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                        <div class="post-info">11 May 2019</div>
                                        <div class="text"><a href="blog-single.html">How to become a register user on gamon</a></div>
                                    </div>
                                </article>

                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                        <div class="post-info">10 May 2019</div>
                                        <div class="text"><a href="blog-single.html">Last matches champions advices for</a></div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <!-- Tags Widget -->
                        <div class="sidebar-widget popular-tags">
                            <div class="widget-content">
                                <h4 class="sidebar-title">popular tags</h4>
                                <a href="matches.html">Matches</a>
                                <a href="#">tournaments</a>
                                <a href="#">champions</a>
                                <a href="#">Players</a>
                                <a href="#">Game</a>
                                <a href="#">esport</a>
                                <a href="#">video</a>
                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="widget-content">
                                <h4 class="sidebar-title">Categories</h4>
                                <!-- Blog Category -->
                                <ul class="blog-categories">
                                    <li><a href="blog-single.html">Gaming</a></li>
                                    <li><a href="blog-single.html">Matches</a></li>
                                    <li><a href="blog-single.html">Video games</a></li>
                                    <li><a href="blog-single.html">Esports</a></li>
                                    <li><a href="blog-single.html">Champions</a></li>
                                </ul>
                            </div>
                        </div>           
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}