{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <!-- Banner Section -->
        <section class="banner-section">
            <div class="banner-carousel owl-theme owl-carousel">
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer"
                         style="background-image:url({% static 'images/main-slider/1.jpg' %})"></div>

                    <div class="auto-container">
                        <div class="content-box">
                            <h2>the Premier <br> Matches</h2>
                            <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer"
                         style="background-image:url({% static 'images/main-slider/2.jpg' %})"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h2>the Premier <br> Matches</h2>
                            <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer"
                         style="background-image:url({% static 'images/main-slider/3.jpg' %})"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h2>the Premier <br> Matches</h2>
                            <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Banner Section -->

        <!-- Welcome Section -->
        <section class="welcome-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Welcome to the Best</div>
                    <h2>Gaming & Esports</h2>
                </div>

                <div class="row clearfix">

                    {% for game_club in game_clubs %}
                        <!--Default Portfolio Item-->
                        <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp"
                             data-wow-delay="0ms"
                             data-wow-duration="1500ms">
                            <div class="inner-box hvr-bob">
                                <figure class="image-box"><img src="{{ game_club.game_club_image.url }}" alt="">
                                </figure>
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h3><a href="#">{{ game_club.name }}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>


                <!-- Lower Box -->
                <div class="lower-box">
                    <div class="text">There are many variations of passages of lorem ipsum available, but the majority
                        have suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                        there isn't anything embarrassing hidden in the middle of text.
                    </div>
                    <a href="about-clan.html" class="theme-btn btn-style-one"><span
                            class="btn-title">About us</span></a>
                </div>

            </div>
        </section>
        <!-- End Welcome Section -->

        <!-- Gallery Section -->
        <section class="gallery-section" style="background-image:url({% static 'images/background/1.png' %})">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Watch Popular</div>
                    <h2>Live streams</h2>
                </div>

                <div class="row clearfix">

                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">

                        <!-- Gallery Block -->
                        <div class="gallery-block">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image">
                                    <img src="{% static 'images/gallery/4.jpg' %}" alt=""/>
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                               class="lightbox-image play-box"><span class="flaticon-play-button"><i
                                                    class="ripple"></i></span></a>
                                            <div class="content">
                                                <div class="title">Matches</div>
                                                <h2><a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                                       class="lightbox-image">Exlusive Racing <br> game</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">

                        <!-- Gallery Block Two -->
                        <div class="gallery-block-two">
                            <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image hvr-bob">
                                    <img src="{% static 'images/gallery/5.jpg' %}" alt=""/>
                                    <div class="overlay-box">
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                           class="lightbox-image overlay-link"></a>
                                        <h3><span class="icon flaticon-play-button"></span> god of war 2</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gallery Block Two -->
                        <div class="gallery-block-two">
                            <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image hvr-bob">
                                    <img src="{% static 'images/gallery/6.jpg' %}" alt=""/>
                                    <div class="overlay-box">
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws"
                                           class="lightbox-image overlay-link"></a>
                                        <h3><span class="icon flaticon-play-button"></span> Call of duty</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- End Gallery Section -->

        <!-- Matches Section -->
        <section class="matches-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Check Our All</div>
                    <h2>Battles</h2>
                </div>

                <!-- Matches Info Tabs-->
                <div class="matches-info-tabs">
                    <!-- Matches Tabs-->
                    <div class="matches-tabs tabs-box">

                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-all" class="tab-btn active-btn"><span>All Matches</span></li>
                            <li data-tab="#prod-matches" class="tab-btn"><span>Upcoming matches</span></li>
                            <li data-tab="#prod-results" class="tab-btn"><span>recent results</span></li>
                        </ul>

                        <!--Tabs Container-->
                        <div class="tabs-content">

                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="prod-all">
                                <div class="content">

                                    {% for battle in battles %}
                                        <!-- Matches Block -->
                                        <div class="matches-block">
                                            <div class="inner-block">
                                                <div class="row clearfix">

                                                    <!-- Content Column -->
                                                    <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                        <div class="inner-column">
                                                            <ul class="tags">
                                                                <li>10 participants</li>
                                                                <li>Upcoming Matches</li>
                                                            </ul>
                                                            <div class="title">Watch Stream</div>
                                                            <h2><a href="matches-single.html">{{ battle.title }}</a>
                                                            </h2>
                                                            <div class="date">{{ battle.battle_data }}</div>
                                                        </div>
                                                    </div>

                                                    <!-- Match Column -->
                                                    <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                        <div class="inner-column">
                                                            <div class="row clearfix">

                                                                {% for battle_group in battle_groups %}
                                                                    {% if battle_group.battle_id.id == battle.id %}
                                                                        <!-- Match Item -->
                                                                        <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                            <div class="inner-item">
                                                                                <div class="icon-box">
                                                                                    {#                                                                                    <span class="icon flaticon-lion"></span>#}
                                                                                    <img src="{{ battle_group.group_id.image_logo.url }}"
                                                                                         alt="">
                                                                                </div>
                                                                                <a href="#"
                                                                                   class="product">{{ battle_group.group_id.name }}</a>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}


                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="prod-matches">
                                <div class="content">

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results <span>.  40 : 32</span></div>
                                                        <h2><a href="matches-single.html">BACON TENDERLOIN DRUMSTICK
                                                            MEATBALL</a></h2>
                                                        <div class="date">17th APRIL 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bull"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bull eye</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-playground"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bull eye</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results</div>
                                                        <h2><a href="matches-single.html">resident evil final chapter
                                                            battle</a></h2>
                                                        <div class="date">12th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-skull"></span>
                                                                    </div>
                                                                    <a href="#" class="product">skeleton</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bear"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bearmen</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results <span>.  40 : 32</span></div>
                                                        <h2><a href="matches-single.html">justice league Matches of
                                                            power</a></h2>
                                                        <div class="date">18th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-portrait"></span>
                                                                    </div>
                                                                    <a href="#" class="product">Cute cat</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bird"></span>
                                                                    </div>
                                                                    <a href="#" class="product">black crow</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="prod-results">
                                <div class="content">

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results</div>
                                                        <h2><a href="matches-single.html">resident evil final chapter
                                                            battle</a></h2>
                                                        <div class="date">12th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-skull"></span>
                                                                    </div>
                                                                    <a href="#" class="product">skeleton</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bear"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bearmen</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results <span>.  40 : 32</span></div>
                                                        <h2><a href="matches-single.html">justice league Matches of
                                                            power</a></h2>
                                                        <div class="date">18th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-portrait"></span>
                                                                    </div>
                                                                    <a href="#" class="product">Cute cat</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bird"></span>
                                                                    </div>
                                                                    <a href="#" class="product">black crow</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Matches Section -->

        <!-- Gallery Section Two -->
        <section class="gallery-section-two">

            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Check Out Our</div>
                    <h2>Photos gallery</h2>
                </div>

                <div class="row clearfix">

                    <!--Gallery Item-->
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/gallery/17.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                            <a href="{% static 'images/gallery/17.jpg' %}" data-fancybox="gallery-2"
                                               data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Item-->
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/gallery/18.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                            <a href="{% static 'images/gallery/18.jpg' %}" data-fancybox="gallery-2"
                                               data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Item-->
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/gallery/19.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                            <a href="{% static 'images/gallery/19.jpg' %}" data-fancybox="gallery-2"
                                               data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Item-->
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/gallery/20.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                            <a href="{% static 'images/gallery/20.jpg' %}" data-fancybox="gallery-2"
                                               data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Item-->
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/gallery/21.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                            <a href="{% static 'images/gallery/21.jpg' %}" data-fancybox="gallery-2"
                                               data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <!--Gallery Item-->
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/gallery/22.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                            <a href="{% static 'images/gallery/22.jpg' %}" data-fancybox="gallery-2"
                                               data-caption="" class="link"><span class="icon flaticon-add"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <!-- Questions Section -->
        <section class="questions-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Frequently Asked Questions</div>
                    <h2>Question & Answers</h2>
                </div>

                <!-- Inner Container -->
                <div class="inner-container">
                    <div class="row clearfix">

                        <!-- Question Block -->
                        <div class="question-block col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-question"></span>
                                </div>
                                <h3><a href="#">How to download the game?</a></h3>
                                <div class="text">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour.
                                </div>
                            </div>
                        </div>

                        <!-- Question Block -->
                        <div class="question-block col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-question"></span>
                                </div>
                                <h3><a href="#">Is there any age restrictions?</a></h3>
                                <div class="text">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour.
                                </div>
                            </div>
                        </div>

                        <!-- Question Block -->
                        <div class="question-block col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-question"></span>
                                </div>
                                <h3><a href="#">how to become a team member?</a></h3>
                                <div class="text">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour.
                                </div>
                            </div>
                        </div>

                        <!-- Question Block -->
                        <div class="question-block col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-question"></span>
                                </div>
                                <h3><a href="#">Is there any reward for winners?</a></h3>
                                <div class="text">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- Call To Action Section -->
        <section class="facts-section">
            <!-- Title Boxed -->
            <div class="title-boxed" style="background-image:url(../gamon/gamon/images/background/5.jpg)">
                <div class="auto-container">
                    <div class="content wow fadeInLeft" data-wow-delay="0ms">
                        <h2>Gamon WHERE DIGITAL <br> WORLDS MEET REAL <br> INNOVATION</h2>
                        <a href="contact.html" class="theme-btn btn-style-one"><span
                                class="btn-title">view tournaments</span></a>
                    </div>
                </div>
            </div>
            <!-- End Title Boxed -->

            <!-- Lower Boxed -->
            <div class="lower-boxed">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!-- Counter Column -->
                        <div class="counter-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">

                                <!-- Featured Block -->
                                <div class="featured-block">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-joystick"></span>
                                        </div>
                                        <h3>785,000</h3>
                                        <div class="text">Games playerd by 6,388 people in 7 days</div>
                                    </div>
                                </div>

                                <!-- Featured Block -->
                                <div class="featured-block">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-man"></span>
                                        </div>
                                        <h3>63,000</h3>
                                        <div class="text">Players are available to hit you live</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Testimonial Column -->
                        <div class="testimonial-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column wow fadeInRight" data-wow-delay="0ms">

                                <div class="single-item-carousel owl-carousel owl-theme">

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block">
                                        <div class="inner-box">
                                            <div class="quote-icon flaticon-quote-1"></div>
                                            <div class="text">Working with Gamon by bytes speed has been awesome. They
                                                care about the customer and add the personal feel to customer service.
                                                Our esports program has taken a huge step forward working with their
                                                help.
                                            </div>
                                            <div class="author">- Mike Johnson, Jr</div>
                                        </div>
                                    </div>

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block">
                                        <div class="inner-box">
                                            <div class="quote-icon flaticon-quote-1"></div>
                                            <div class="text">Working with Gamon by bytes speed has been awesome. They
                                                care about the customer and add the personal feel to customer service.
                                                Our esports program has taken a huge step forward working with their
                                                help.
                                            </div>
                                            <div class="author">- Mike Johnson, Jr</div>
                                        </div>
                                    </div>

                                    <!-- Testimonial Block -->
                                    <div class="testimonial-block">
                                        <div class="inner-box">
                                            <div class="quote-icon flaticon-quote-1"></div>
                                            <div class="text">Working with Gamon by bytes speed has been awesome. They
                                                care about the customer and add the personal feel to customer service.
                                                Our esports program has taken a huge step forward working with their
                                                help.
                                            </div>
                                            <div class="author">- Mike Johnson, Jr</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!-- End Call To Action Section -->

        <!-- News Section -->
        <section class="news-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Recent Articles</div>
                    <h2>Latest Posts</h2>
                </div>

                <div class="row clearfix">

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box hvr-bob">
                            <div class="image">
                                <a href="blog-single.html"><img src="{% static 'images/resource/news-1.jpg' %}" alt=""/></a>
                            </div>
                            <div class="lower-content">
                                <div class="post-date">20 may 2019</div>
                                <h3><a href="blog-single.html">important brands have given us their trust</a></h3>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box hvr-bob">
                            <div class="image">
                                <a href="blog-single.html"><img src="{% static 'images/resource/news-2.jpg' %}" alt=""/></a>
                            </div>
                            <div class="lower-content">
                                <div class="post-date">18 may 2019</div>
                                <h3><a href="blog-single.html">What happened to esports games this weekend</a></h3>
                            </div>
                        </div>
                    </div>

                    <!-- News Block -->
                    <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box hvr-bob">
                            <div class="image">
                                <a href="blog-single.html"><img src="{% static 'images/resource/news-3.jpg' %}" alt=""/></a>
                            </div>
                            <div class="lower-content">
                                <div class="post-date">16 may 2019</div>
                                <h3><a href="blog-single.html">Lion king vs wolf smart upcoming matches</a></h3>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End News Section -->

        <!--Sponsors Section-->
        <section class="sponsors-section">
            <div class="auto-container">

                <div class="sponsors-outer">
                    <!--Sponsors Carousel-->
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a>
                            </figure>
                        </li>
                        <li class="slide-item">
                            <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a>
                            </figure>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <!--End Sponsors Section-->
    </div>
{% endblock %}