{% extends 'base.html' %}
{% load static %}

{% block title %}Battles{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!--Page Title-->
        <section class="page-banner" style="background-image:url({% static '/images/background/title-bg.jpg' %});">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Matches</li>
                    </ul>
                    <h1>Matches</h1>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <!-- Matches Section -->
        <section class="matches-section">
            <div class="auto-container">

                <!-- Matches Info Tabs-->
                <div class="matches-info-tabs">
                    <!-- Matches Tabs-->
                    <div class="matches-tabs tabs-box">

                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-all" class="tab-btn active-btn"><span>All Matches</span></li>
                            <li data-tab="#prod-matches" class="tab-btn"><span>Upcoming matches</span></li>
                            <li data-tab="#prod-results" class="tab-btn"><span>recent results</span></li>
                        </ul>

                        <!--Tabs Container-->
                        <div class="tabs-content">

                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="prod-all">
                                <div class="content">

                                    {% for battle in battles %}
                                        <!-- Matches Block -->
                                        <div class="matches-block">
                                            <div class="inner-block">
                                                <div class="row clearfix">

                                                    <!-- Content Column -->
                                                    <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                        <div class="inner-column">
                                                            <ul class="tags">
                                                                <li>10 participants</li>
                                                                <li>Upcoming Matches</li>
                                                            </ul>
                                                            <div class="title">Watch Stream</div>
                                                            <h2><a href="{% url 'battle_detail' battle.id %}">{{ battle.title }}</a>
                                                            </h2>
                                                            <div class="date">{{ battle.battle_data }}</div>
                                                        </div>
                                                    </div>

                                                    <!-- Match Column -->
                                                    <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                        <div class="inner-column">
                                                            <div class="row clearfix">

                                                                {% for battle_group in battle_groups %}
                                                                    {% if battle_group.battle_id.id == battle.id %}
                                                                        <!-- Match Item -->
                                                                        <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                            <div class="inner-item">
                                                                                <div class="icon-box">
                                                                                    {#                                                                                    <span class="icon flaticon-lion"></span>#}
                                                                                    <img src="{{ battle_group.group_id.image_logo.url }}"
                                                                                         alt="">
                                                                                </div>
                                                                                <a href="#"
                                                                                   class="product">{{ battle_group.group_id.name }}</a>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                
                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="prod-matches">
                                <div class="content">

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results <span>.  40 : 32</span></div>
                                                        <h2><a href="matches-single.html">BACON TENDERLOIN DRUMSTICK
                                                            MEATBALL</a></h2>
                                                        <div class="date">17th APRIL 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bull"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bull eye</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-playground"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bull eye</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results</div>
                                                        <h2><a href="matches-single.html">resident evil final chapter
                                                            battle</a></h2>
                                                        <div class="date">12th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-skull"></span>
                                                                    </div>
                                                                    <a href="#" class="product">skeleton</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bear"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bearmen</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results <span>.  40 : 32</span></div>
                                                        <h2><a href="matches-single.html">justice league Matches of
                                                            power</a></h2>
                                                        <div class="date">18th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-portrait"></span>
                                                                    </div>
                                                                    <a href="#" class="product">Cute cat</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bird"></span>
                                                                    </div>
                                                                    <a href="#" class="product">black crow</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="prod-results">
                                <div class="content">

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results</div>
                                                        <h2><a href="matches-single.html">resident evil final chapter
                                                            battle</a></h2>
                                                        <div class="date">12th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-skull"></span>
                                                                    </div>
                                                                    <a href="#" class="product">skeleton</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bear"></span>
                                                                    </div>
                                                                    <a href="#" class="product">bearmen</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Matches Block -->
                                    <div class="matches-block">
                                        <div class="inner-block">
                                            <div class="row clearfix">

                                                <!-- Content Column -->
                                                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <ul class="tags">
                                                            <li>26 participants</li>
                                                            <li>Upcoming Matches</li>
                                                        </ul>
                                                        <div class="title">Recent Results <span>.  40 : 32</span></div>
                                                        <h2><a href="matches-single.html">justice league Matches of
                                                            power</a></h2>
                                                        <div class="date">18th MAY 2019, 11:00 PM</div>
                                                    </div>
                                                </div>

                                                <!-- Match Column -->
                                                <div class="match-column col-lg-5 col-md-12 col-sm-12">
                                                    <div class="inner-column">
                                                        <div class="row clearfix">

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-portrait"></span>
                                                                    </div>
                                                                    <a href="#" class="product">Cute cat</a>
                                                                </div>
                                                            </div>

                                                            <!-- Match Item -->
                                                            <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                                                <div class="inner-item">
                                                                    <div class="icon-box">
                                                                        <span class="icon flaticon-bird"></span>
                                                                    </div>
                                                                    <a href="#" class="product">black crow</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Matches Section -->

    </div>
    <!--End pagewrapper-->
{% endblock %}